@article{fioretto:CONSTRAINTS-18,
	author 	= "Ferdinando Fioretto and Enrico Pontelli and William Yeoh and Rina Dechter",	
	title   = "Accelerating Exact and Approximate Inference for (Distributed) Discrete Optimization with {GPU}s",
	journal	= "Constraints",
	year 	= "2018",
	month 	= "Jan",
	day 	= "01",
	volume 	= "23",
	number 	= "1",
	pages 	= "1--43",
	url     = "https://doi.org/10.1007/s10601-017-9274-1"
}