* {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1000px) {
	body {
		background-color: #e3e3e3;
		font-family: Helvetica;
	}
}

@media screen and (min-width: 1001px) {
	body {
		background: url(../images/background.jpg) center repeat-y;
		font-family: Helvetica;
	}
}

a img {
	border: none;
}

p a {
	color: #1B392D;
	text-decoration: none;
}

h3 a {
	color: inherit;
}

span.underline {
	text-decoration: underline;
}

li a {
	color: #000;
}

#container {
	margin: 0 auto;
	width: 960px;
}

/* === Sidebar Section === */


@media screen and (max-width: 1000px) {
	#sidebar {
		visibility: hidden;
	}
}

@media screen and (min-width: 1001px) {
	#sidebar {
		margin-top: 22px;
		float: left;
		overflow: hidden;
		width: 272px;
	}
}

#sidebar #top {
	position: fixed;
}

	/* === Logo Section === */
	#sidebar img {
		padding: 0px 0px 0px 0px;
	}
	
	/* === End Logo Section === */

	/* === Menu Section === */
	#sidebar ul.menu {
		margin-top: 20px;
		display: block;
	}
	
	#sidebar ul.menu li {
		list-style: none;
		color: #000000;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: bold;
		padding: 9px 10px 9px 30px;
		margin-bottom: 1px;
		width: 225px;
		cursor: pointer;
	}
	
	#sidebar ul.menu li.tplp {
		color: #000000;
	}
	
	#sidebar ul.menu li.tplp.active {
		background: #7F7F7F;
		color: #f0f0f0;
	}
	
	#sidebar ul.menu li.scope {
		color: #000000;
	}
	
	#sidebar ul.menu li.scope.active {
		background: #7F7F7F;
		color: #f0f0f0;
	}
	
	#sidebar ul.menu li.topics {
		color: #000000;
	}
	
	#sidebar ul.menu li.topics.active {
		background: #7F7F7F;
		color: #f0f0f0;
	}

	#sidebar ul.menu li.dates {
		color: #000000;
	}
	
	#sidebar ul.menu li.dates.active {
		background: #7F7F7F;
		color: #f0f0f0;
	}
	

	#sidebar ul.menu li.subission {
		color: #000000;
	}
	
	#sidebar ul.menu li.subission.active {
		background: #7F7F7F;
		color: #f0f0f0;
	}

	#sidebar ul.menu li.contact {
		color: #000000;
	}
	
	#sidebar ul.menu li.contact.active {
		background: #7F7F7F;
		color: #f0f0f0;
	}

	
	/* === Footer Section === */
	
	#footer {
		position: fixed;
		bottom: 10px;
	}
	
	#footer p {
		color: #cbcaca;
		font-size: 11px;
	}
	
	/* === End Footer Section === */
	
/* === End Sidebar Section === */

/* === Content Section === */

#content {
	float: left;
	width: 688px;
}

	/* === Panel header Section === */
	div#about {
		padding-top: 28px;
	}
	
	.panel_header {
		min-height: 70px;
		background: #f0f0f0;
		border-top: 1px solid #d5d5d5;
		border-bottom: 1px solid #d5d5d5;
		border-right: 1px solid #d5d5d5;
		padding-top: 30px;
		overflow: hidden;
		color: #000000;
	}
	
	.panel_header img {
		float: left;
		margin: 23.5px 0px 23.5px 60px;
	}
	
	.panel_header p {
		float: left;
		margin: 23.5px 0px 23.5px 60px;
		text-transform:uppercase;
		font-family: Helvetica; 
		font-size: 15pt; 
		font-weight : 800;
	}
	
	.panel_header h1 {
		float: left;
		margin: 23.5px 0px 0px 60px;
		text-transform:uppercase;
		font-family: Helvetica; 
		font-size: 18pt; 
		font-weight : 800;
	}	
	
	.panel_header h2 {
		float: left;
		margin: 0px 60px 40px 60px;
		text-transform:uppercase;
		font-family: Helvetica; 
		font-size: 15pt; 
		font-weight : 100;
	}	
	
	.panel_header h5 {
		float: left;
		margin: -20px 0px 23.5px 400px;
		font-family: Verdana; 
		font-size: 10pt; 
		font-weight : 100;
		font-style:italic;
		text-align: right;
	}
	
	.panel_header ul {
		list-style: none; 
		float: right;
		margin: 23.5px;
	}
	
	.panel_header ul li img {
		margin: 0;
		padding: 0px 5px 3px 5px;
	}
	
@media screen and (max-width: 1000px) {
	.panel_header p, .panel_header h1, .panel_header h2 {
		font-size: 30px;
	}
	
	.panel_header h5 {
		font-size: 15px;
	}
}

@media screen and (min-width: 1001px) {
	.panel_header h5 {
		font-size: 15px;
	}	
}
	
	/* === End Panel header Section === */
.panel .wide ul li {
	list-style: disc; 
	color: #595959;
	margin-left: 30px;
	font-family: Helvetica; 
	font-size: 10pt; 
}

.panel .wide ul {
	margin-bottom: 10px;
}

.panel .wide ul li a {
	font-family: Helvetica; 
	font-size: 10pt; 
	color: #6FB3E8;
	text-decoration: none;
}

.panel .wide p {
	font-family: Helvetica; 
	font-size: 10pt; 
}

.panel .wide h1 {
	margin: 0px 0px 5px 0px;
	font-family: Helvetica; 
	font-size: 12pt; 
	font-weight : 800;
}

.panel .wide h2 {
	margin: 30px 0px 5px 0px;
	font-family: Helvetica; 
	font-size: 12pt; 
	font-weight : 800;
}

.space {
	margin: 300px 60px 300px 60px;
	overflow: hidden;	
}

.panel {
	margin: 60px 60px 40px 60px;
	overflow: hidden;
}

.panel img.whatwedo {
	margin-bottom: 30px;
}

.left {
	float: left;
	width: 100px;
	overflow: hidden;
	margin-bottom: 40px;
}

.right {
	float: right;
	width: 468px;
	overflow: hidden;
}

.wide {
	text-align: justify;
	clear: both;
	width: 568px;
	margin-bottom: 0px;
}

.wide img {
	margin-bottom: 20px;
}



.panel .wide h3 {
	float: none;
}

.panel .wide p.testomanial {
	padding: 10px;
	background: #f0f0f0;
	border: 1px solid #d8d9d9;
	width: 548px;
}



@media screen and (max-width: 1000px) {
	.panel .wide ul li {
		list-style: disc; 
		line-height: 22px;
	}
	
	.panel .wide h1, .panel .wide h2 {
		font-size: 20px;
	}
}

@media screen and (min-width: 1001px) {
	.panel .wide ul li {
		list-style: disc; 
		line-height: 22px;
	}	

	.panel .wide h1, .panel .wide h2 {
		font-size: 15px;
	}

}

h3.title {
	margin-bottom: 10px;
	font-family: Futura, Helvetica, sans-serif;
	color: #303232;
	float: left;
	text-transform: uppercase;
}

.right h3.title {
	float: none;
	text-transform: none;
}

.left h3.title {
	float: none;
}

div.speaker {
	height: 140px;
}

.left p.profession, .right p.profession {
	float: right;
	font-family: Futura, Helvetica, sans-serif;
	font-size: 13px;
	color: #b9b9b9;
	margin-top: 5px;
}

img.placeholder {
	padding: 10px;
	background: #f0f0f0;
	border: 1px solid #cecece;
	margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
	.left p, .right p, .wide p {
		line-height: 22px;
		margin-bottom: 15px;
		color: #595959;
	}
}

@media screen and (min-width: 1001px) {
	.left p, .right p, .wide p {
		line-height: 22px;
		margin-bottom: 15px;
		color: #595959;
	}
}

p.speaker {
	height: 66px;
}

span.talk_title {
	font-weight: bold;
	font-style: oblique;
	height: 35px;
}

.left div.more, .right div.more {
	float: left;
	font-size: 11px;
	padding: 0px 7px;
	background: #f0f0f0;
	border: 1px solid #d8d9d9;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	width: 249px;
	height: 32px;
}

.left div.more li, .right div.more li {
/*	list-style: none; */
	display: inline;
	float: left;
	margin-right: 4px;
	float: left;
	margin-top: 7px;
}

.left div.more li.connect, .right div.more li.connect {
	margin-right: 20px;
	margin-top: 9px;
}

.left div.more li.text, .right div.more li.text {
	margin-top: 9px;
}

.left .portfolio_item, .right .portfolio_item {
	margin-bottom: 10px;
}

#program_left {
	text-align: center;
	color: #000000;
	border-right: 1px dotted black;
}

#program_right {
	color: #000000;
}

#program_right p {
	margin-bottom: 5px;
}

@media screen and (max-width: 1000px) {
	#program_right a {
		color: inherit;
		font-style: inherit;
		font-size: 20px;
	}
}

@media screen and (min-width: 1001px) {
	#program_right a {
		color: inherit;
		font-style: inherit;
		font-size: 14px;
	}
}


#program_left div {
	padding-top: 8px;
}

#program_right div {
	padding-top: 8px;
	padding-left: 10px;
}

#program_right div.inner_left {
	padding: 0;
	margin: 0;
	width: 110px;
	float: left;
}

#program_right div.inner_right {
	padding: 0;
	margin: 0;
}

.program_talk {
	height: 130px;
}

.program_misc {
	height: 30px;
}

#googlemap {
	width: 588px;
	height: 400px;
}

/* === End Content Section === */